h1 
{
    text-align: center;
    color:rgb(202, 42, 103);
    margin :20px;
    align-content: center;
    font-family: cursive;
}



  #profile
  {
    border-radius: 200px;
    /* border-style: none; */
    height: 250px;
    width: 250px;
    color: aliceblue;   
     margin-left: 90px;
     padding: 20px;
  }
  .profileName{
  
    font-family: 'Verdana'; 
    font-size: x-large;
    font-weight: lighter;
    Height:25px;
    margin-left: 250px;
   
  }

  #editOption
  {
    border:solid 1px rgb(181, 192, 192);
    border-radius: 3px;
    width: 120px;
    text-align: center;
    margin-top: 30px;
    margin-left:10px;
  }

  .main
  {
    background-color: hsl(220, 13%, 95%);
    margin: 50px;
  }

  #icon 
  {
    background-color: hsl(220, 13%, 95%);
    height:30px;
    width:25px;
    margin-left:15px; 
    margin-top:25px;  
  }

 
  .item
  {
   margin-left: 350px;
   
  }

  #followers
  {
    padding-top: 10px;
    padding-left: 10px;
  }

  .container img{
   
    height: 250px;
    width:100px;
    flex-basis: 30%;
    margin: 20px;
    transition-duration:  box-shadow 4s;
    transition: transform 1s;  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container img:hover {
    cursor :pointer;
    box-shadow: 10px 10px 5px #c2cccf;
    transform: scale(1.1);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:rgb(87, 36, 69);
      }
      
      li {
        float: center;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: rgb(143, 72, 118);
      }

      .active {
        background-color: rgb(185, 132, 152);
      }
      .navBar
      {
        height: 100px;
      }